body{
    background-color:#f2f9ff;
    font-family:Arial, sans-serif;
}

.container{
    width:800px;
    margin:auto;
    background:white;
    padding:20px;
    border:2px solid navy;
    border-radius:10px;
}

h1{
    text-align:center;
    color:darkblue;
}

h2{
    color:darkred;
}

.welcome{
    font-size:18px;
    color:#333333;
    text-align:justify;
}

img{
    display:block;
    margin:auto;
    border:3px solid navy;
    border-radius:10px;
}

ul{
    color:green;
    font-size:17px;
}

form{
    background:#eef;
    padding:15px;
    border-radius:8px;
}

input, select{
    width:300px;
    padding:8px;
    border:1px solid gray;
}

input[type="submit"]{
    width:150px;
    background:darkblue;
    color:white;
    border:none;
    cursor:pointer;
}

input[type="submit"]:hover{
    background:green;
}

a{
    color:blue;
    text-decoration:none;
}

a:hover{
    color:red;
    text-decoration:underline;
}