*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{

display:flex;
justify-content:center;
align-items:center;
height:100vh;
background:#eef4ff;

}

.container{

width:400px;
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 0 10px gray;
text-align:center;

}

h2{

color:#1565c0;
margin-bottom:20px;

}

#clock{

font-size:40px;
font-weight:bold;
color:#0d47a1;
margin-bottom:40px;

}

#countdown{

font-size:28px;
font-weight:bold;
color:#d32f2f;

}

@media(max-width:500px){

.container{

width:95%;

}

#clock{

font-size:30px;

}

#countdown{

font-size:22px;

}

}
