*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{

background:#f4f7fc;

}

/* Header */

header{

background:#1565c0;
color:white;
padding:20px;

display:flex;
justify-content:space-between;
align-items:center;
flex-wrap:wrap;

}

/* Navigation */

nav{

display:flex;
gap:20px;
flex-wrap:wrap;

}

nav a{

color:white;
text-decoration:none;
font-weight:bold;

}

nav a:hover{

color:yellow;

}

/* Hero Section */

.hero{

text-align:center;
padding:60px 20px;
background:#90caf9;

}

.hero h2{

font-size:40px;
margin-bottom:15px;

}

.hero p{

font-size:20px;
margin-bottom:20px;

}

button{

padding:12px 25px;
background:#1565c0;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
font-size:16px;

}

button:hover{

background:#0d47a1;

}

/* Department Cards */

.departments{

display:flex;
justify-content:center;
gap:20px;
padding:40px;
flex-wrap:wrap;

}

.card{

background:white;
padding:20px;
width:280px;
border-radius:10px;
box-shadow:0 0 10px gray;
text-align:center;

}

.card h3{

color:#1565c0;
margin-bottom:10px;

}

/* CSS Grid */

.gallery{

display:grid;
grid-template-columns:repeat(2,1fr);
gap:20px;
padding:30px;

}

.box{

background:#bbdefb;
padding:40px;
text-align:center;
font-size:20px;
border-radius:10px;
font-weight:bold;

}

/* Footer */

footer{

background:#1565c0;
color:white;
text-align:center;
padding:15px;
margin-top:20px;

}

/* Media Query */

@media(max-width:768px){

header{

flex-direction:column;

}

nav{

justify-content:center;
margin-top:15px;

}

.departments{

flex-direction:column;
align-items:center;

}

.gallery{

grid-template-columns:1fr;

}

.hero h2{

font-size:28px;

}

}
